body {
background-color: lightgray;
}

.heading{
font-size: 50pt;
color: navy
}

.resize_image{
width:33%;
height:150px

}

.sect{
border-style: solid;
border-width: 4px 7px;
border-color: purple


}
.border{
border-style: double;
border-color: #aa0000 red #aa0000 red;
padding:1px ;

width: 50%;
}


.right{
float: right;
}
.left{
float: left;
}
.middle{
float: center;
}
.marg{
margin: 5px;
}
h4{
color: #880000
}

.mnubar {
  background-color: #D1FFFF;
}

.title {
	color: #363;
	font-size: 15pt;
}
.small {
	width:15px;
	height:15px;
}
b {
color:red;
}














